{% extends "base.html" %}

{% block title %}Hakkımda | CodeByEfe{% endblock %}

{% block content %}
<section class="info-card" style="max-width: 800px; margin: 40px auto; text-align: center;">
  <h2 style="font-size: 2rem; font-weight: 700; color: #ffffff;">👨‍💻 Hakkımda</h2>
  <p style="font-size: 1.1rem; color: #ddd; margin-top: 10px; font-weight: 500;">
    Ben İsmail Efe Yalçınkaya. Yazılıma tutkuyla bağlı, üretken ve gelişime açık bir bilgisayar mühendisliği öğrencisiyim. Yeditepe Üniversitesi’nde 3. sınıfta öğrenim görüyorum.
    <br><br>
    Disiplinli yaşam tarzım spor geçmişimle şekillendi; Galatasaray Spor Kulübü ve Türkiye Milli Takımı'nda yüzdüm. Bu süreçte, hem ulusal hem de uluslararası birçok madalya kazandım.
    <br><br>
    Akademik alanda Python, C, Java ve Verilog dillerinde eğitim aldım. HTML, CSS ve JavaScript gibi web teknolojilerini ise kendi girişimlerimle öğrenerek becerilerimi geliştirdim.
    <br><br>
    Yazılım geliştirme, yapay zeka ve siber güvenlik alanlarında kendimi sürekli ileri taşımayı hedefliyorum. Kullanıcı odaklı, sürdürülebilir ve güvenli çözümler üretme vizyonuyla çalışıyor; takım çalışmasına verdiğim önem ve öğrenme konusundaki tutkumla sektöre katkı sunmayı amaçlıyorum.
  </p>
</section>
{% endblock %}


